/*
  Created by: Waleed A. Afifi
  Email: waleed-afifi@windowslive.com
  GitHub: https://github.com/waleedafifi90
  LinkedIn: https://www.linkedin.com/in/walafifi/
*/

* {
  box-sizing: border-box;
}

body {
  width: 960px;
  margin: auto;
}

img {
  width: 100%;
}

header {
  background: #393e46;
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
}

header nav {
  text-align: right;
}

header nav a {
  text-decoration: none;
  color: #eee;
  padding: 0 20px;
}

header nav a:hover {
  background: #ffd369;
  color: #393e46;
}

.container {
  display: grid;
  grid-template-rows: 100px minmax(calc(100vh - 170px) , 1fr) 50px;
  gap: 10px;
}

.image-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

footer {
  display: flex;
  align-items: center;
  background: #222831;
  color: #eee;
  text-align: center;
}

footer p {
  width: 100%;
}